<div class="credit-cards">
    <div class="credit-card" *ngFor="let card of creditCards">
      <div class="card-type">{{ card.type }} Card</div>
      <div class="card-logo">
        <img src="assets/card-logo.png" alt="Card Logo">
      </div>
      <div class="card-number"></div>
      <div class="card-details">
        <div class="card-holder">
          <span class="label">Cardholder Name:</span>
          <span>{{ card.holderName }}</span>
        </div>
        <div class="expiry">
          <span class="label">Expiry Date:</span>
          <span>{{ card.expiryDate }}</span>
        </div>
      </div>
      <button class="apply-button" >Details</button>
    </div>
  </div>
  